<header class="mb-1">
    <div class="header mx-5 d-flex flex-wrap">
        <div class="col-4">
            <div class="logo-container d-flex py-2">
                <div class="logo-square ms-2 me-4 mt-3">

                </div>
                <div>
                    <div class="logo d-flex">
                        <p class="logo-font mt-3 me-1">GENIESYS</p>
                        <p class="aisWord mt-4">AIS</p>
                    </div>
                    <p style="color: #5F6B7A;">Agriculture Intelligence System</p>
                </div>
            </div>

        </div>

        <div class="col-4">
            <div class="search mt-4">
                <i class="mt-2 ms-1 pi pi-search" style="font-size: 1.2rem"></i>
                <input type="text">
            </div>
        </div>

        <div class="col-4 ">
            <div class="user-alarm d-flex justify-content-center ms-5 ">
                <div class="alarm">
                    <i class="mt-4 pi pi-bell" style="font-size: 1.5rem"></i>
                </div>
                <div class="vertical-hr mt-4 ms-3">

                </div>
                <div class="userLogo">
                    <i class="mt-4 ms-3 pi pi-user" style="font-size: 1.5rem"></i>
                </div>
                <div class="mt-4 ms-4 userName">
                    <p>Mohamed Ibrahim</p>
                </div>
                <div class="logout-logo">
                    <i class="mt-4 ms-3 pi pi-sign-out" style="font-size: 1.5rem"></i>

                </div>
            </div>
        </div>

    </div>
</header>